* {
	margin: 0;
	padding: 0;
}

header {
	background: url(../img/skyes.png) ;
	font-size: 30px;
	color: white;
	padding: 8px;
	text-shadow: black 3px 4px 4px;
}

#logo {
	width: 150px;
	border: 3px solid black;
	border-radius: 150px;
}

#navbar li {
	display: inline;
    vertical-align: middle;
    margin-left: 10px;
}

#navbar a {
	text-decoration: none;
	color: white;
}

#navbar li+li+li {
    margin-left: 30px;
}

#myname {
	margin-right: 30px;
}

body {
	font-family: Calibri;
}

#h-code {
	padding: 10px;
	width: fit-content;
	margin: 0 auto;
	background-color: #79563a;
	color: white;
	font-size: 20px;
	border: 5px solid black;
	text-shadow: black 2px 3px 4px;
}

.code {
	padding: 10px;
	color: white;
	font-size: 16px;
	background-color: blue;
	border: 5px solid #79563a;
	margin: 0 auto;
	width: fit-content;
}

#h-ascii {
	padding: 10px;
	width: fit-content;
	margin: 0 auto;
	background-color: #79563a;
	color: white;
	font-size: 20px;
	border: 5px solid black;
	text-shadow: black 2px 3px 4px;
}

.ascii {
	padding: 10px;
	color: white;
	font-size: 16px;
	background-color: blue;
	border: 5px solid #79563a;
	margin: 0 auto;
	width: fit-content;
}

main {
	background: url(../img/soil.jpg);
}

footer {
	background: url(../img/stone.jpg);
	font-size: 30px;
	color: white;
	padding: 8px;
	text-shadow: black 2px 3px 4px;
}